<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Banned Book Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Banned Book Database</h1>
      <%- body %> <!-- This is where my content gets loaded -->
      <hr>
      <a href="/" class="btn btn-info">Home</a>
      <a href="/show" class="btn btn-primary">All Books</a>
      <a href="/about" class="btn btn-info">Random Book</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <script  type="text/javascript" src="/js/main.js"></script> -->
</body>
</html>
